@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,600');
@import url('https://fonts.googleapis.com/css?family=PT+Mono:400,600');


* {
    -webkit-transition: all 125ms linear;
    -moz-transition: all 125ms linear;
    -ms-transition: all 125ms linear;
    -o-transition: all 125ms linear;
    transition: all 125ms linear;
}
html, body {
    margin: 0px;
    padding: 0px;
    background-color: #232323;
}

.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #121212;
}

.header .title {
    color: #FFF;
    padding: 5px;
    padding-left: 40px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.words-display {
    font-family: 'Rajdhani',sans-serif;
    margin-left: 25px;
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #454545;
    white-space: nowrap;
    text-align: left;
    color:#FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.input {
    font-family: 'PT Mono', sans-serif;
    text-align: left;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 32px;
    border: 0px solid;
    background-color: #898989;

}

.login-info {
    position: relative;
    top: 150px;
    font-family: 'Rajdhani',sans-serif;
    margin-left: auto;
    margin-right:auto;
    text-align: left;
    width: 350px;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    background-color: #454545;
    white-space: nowrap;
}

.link {
    font-family: 'Rajdhani', sans-serif;
    
    color: #FFF;
    text-decoration: none;

    font-size: 24px;
    font-weight: 600;
    border: 0px solid;
    background-color: #454545;
    letter-spacing: 3px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;

    position: relative;
    top: 170px;
    margin-left: auto;
    margin-right: auto;
}
