<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeedTyper</title>
    <link rel="stylesheet" href="homePageMain.css">
</head>
<body>
	<div class = "header">
		<div class = "title">
			SpeedTyper
		</div>
	</div>
	<div class = "login-info rounded">
		<div class = "words-display rounded">
			Username

		</div>
		<input class = "input rounded">
		<div class = "words-display rounded">
			Room
			
		</div>
		<input class = "input rounded">
	</div>
	<div class = "link rounded">
		Go!
	</div>
</body>

</html>