<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeedTyper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
    <div class="header">
        <div class="title">
            SpeedTyper
        </div>
        <div class="user">
            Hi, {{ name }}
        </div>
    </div>
    <div class="content">
        <div class="game">
            <canvas class="progress-display rounded" width="750px" height="200px">

            </canvas>
            <div class="words-display rounded">
                <div class="words">
                <div class="current rounded">
                    {{ start_word }}
                </div>
                <div class="future rounded">
                    {{  future_words }}
                </div>
                </div>
            </div>
            <input class="input rounded">
            </input>
        </div>

        <div class="postgame rounded">
            <div class="message">
                Finished
            </div>
            <div class="stats">
                Stats Here
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script>
        $(document).ready(function() {
            webSocket = io.connect('http://' + document.domain + ':' + location.port + '/play');
            s_id = "{{ s_id }}";
            $('.input').focus();
        });
    </script>
</body>
</html>