<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpeedTyper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play.css') }}">
</head>
<body>
    <div class="header">
        <div class="title">
            SpeedTyper
        </div>
        <div class="user">
            User {{ u_id }}
        </div>
    </div>
    <div class="content">
        <div class="game">
            <canvas class="progress-display rounded" width="750px" height="250px">

            </canvas>
            <div class="words-display rounded">
                <div class="words">
                <div class="current rounded">
                    {{ start_word }}
                </div>
                <div class="future rounded">
                    {{  future_words }}
                </div>
                </div>
            </div>
            <input class="input rounded">
            </input>
        </div>

        <div class="postgame rounded">
            <div class="message">
                Complete
            </div>
            <div class="stats">
                <div class="wol rounded">
                    W/L Here
                </div>
                <div class="final-wpm">
                    WPM Here
                </div>
            </div>
            <div class="loader">
                Waiting for everyone to finish...
            </div>
            <div class="scoreboard">
                <hr>
                <div class="heading">Scores</div>
                <ul class="scores">

                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script>
        s_id = "{{ s_id }}";
        user_id = {{ u_id }};
        ctx.font = canvasBigFont;
        ctx.clear();
        $(document).ready(function() {
            inputElem.prop('placeholder', 'Waiting for player...');
            inputElem.prop('disabled', true);
            webSocket = io.connect('http://' + document.domain + ':' + location.port + '/play');
            webSocket.emit('joined', {user: user_id, session: s_id});
            webSocket.on('countdown', function(data) {
                if (data['session'] === s_id) {
                    countdown = data['time'];
                    i = Math.round(countdown/1000);
                    if (countdown > 1000) {
                        (function drawCount() {
                                inputElem.prop('placeholder', 'Starting in ' + i + '...');
                            if (!(i--)) {
                                inputElem.prop('placeholder', '');
                                return;
                            }
                            setTimeout(drawCount, 1000);
                        })();
                    }
                    inputElem.val('');
                    setTimeout(startGame, countdown);
                }
            });
        });
    </script>
</body>
</html>