<!Doctype html>
<head>
    <meta charset="UTF-8">
    <title>SpeedTyper</title>
    <link rel="stylesheet" href="registerAccMain.css">
</head>

<body>
		<div class = "header">
		<div class = "title">
			SpeedTyper
		</div>
	</div>
	<div class = "register-info rounded">
		<div class = "outer-title rounded"> 
			Register
		</div>

		<div class = "info-title rounded">
			Email
		</div>
		<input class = "input rounded">

		<div class = "info-title rounded">
			Username
		</div>
		<input class = "input rounded">

		<div class = "info-title rounded">
			Password
		</div>
		<input class = "input rounded">

		<div class = "info-title rounded">
			Confirm Password
		</div>
		<input class = "input rounded">

		<div class = "info-title rounded">
			Location
		</div>
		<input class = "input rounded">

	</div>
	<div class = "link rounded">
		Register
	</div>

</body>